<%- include('partials/_header') %>
<%- include('partials/_navbar') %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
            
    <style>
        .table-striped {
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)) !important;
            background-size: 20px 20px !important;
            background-position: 0 0, 10px 10px !important;
        }

        .date-filter-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
        }

        .date-filter-form label {
            margin-right: 10px;
        }

        .date-filter-form input[type="submit"] {
            margin-left: 10px;
        }
        .custom-button {
            background-color: coral;
            color: azure;

        }
    </style>

<div class="col-sm-12 col-xl-10 container-fluid mt-5">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Users</h6>
        <table id="myTable" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% user_data.forEach((user, index) => { %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= user.name %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                       
                        <td>
                            <% if(user.isBlocked) { %>
                                <a href="/unblock_user/<%= user._id %>" class="btn btn-success btn-sm border-shadow update">Unblock</a>
                            <% } else { %>  
                                <a href="/block_user/<%= user._id %>" class="btn btn-danger btn-sm border-shadow update">Block</a>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <!-- <div class="text-center">
            <a href="/user"><button class="btn btn-success w-100 mt-2" type="button">Add Category</button></a>
        </div> -->
    </div>
</div>

<script>
    setTimeout(() => {
      document.getElementById("msg").style.display = "none";
    }, 1000);
    
  
    $(document).ready(function() {
      $('#myTable').DataTable();
    })
    let table= new DataTable('#myTable')
   
  </script>

<%- include('partials/_footer') %>
