<%- include('partials/_header') %>
<%- include('partials/_navbar') %>

<!-- toastify -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"> 
<!--===============================================================================================-->

	<!-- breadcrumb -->
	<div class="container m-t-100">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		
	<% if (locals.cart) { %>
	<!-- Shoping Cart -->
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
									<th class="column-5">Remove</th>
								</tr>

								<% products.forEach(product =>{ %>


								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="<%= product.productId.photo[0] %>" alt="IMG">
										</div>
									</td>
									<td class="column-2"><%= product.productId.name %></td>
									<td class="column-3"><%= product.productId.price %></td>
									<td class="column-4">
										<div class="quantity-field">
											<button id="decrement_<%= product.productId._id %>" onclick="decrementQuantity('<%= product.productId._id %>')" class="quantity-button">-</button>
											<input type="number" name="quantity" value="<%= product.quantity %>" id="quantity_<%= product.productId._id %>" readonly class="quantity-input">
											<button id="increment_<%= product.productId._id %>" onclick="incrementQuantity('<%= product.productId._id %>')" class="quantity-button">+</button>
										</div>
									</td>
									
									<% var total=product.quantity * product.productId.price %>
									<td class="column-5 item-total" id="product-total-price-<%= product.productId._id %>"><%= total %></td>
									<td class="column-5">
										<a href="/deleteCartItem/<%= product.productId._id %>"><i class="fa-solid fa-trash-can text-dark"></i></a>
										
									</td>
								</tr>
								<% }) %>
							</table>
						</div>
						
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208 subtotal">
								<span class="stext-110 cl2 subtotal-heading">
									Subtotal:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2" id="subtotal">
									<!-- total -->
								</span>
							</div>
						</div>

						<div class="flex-w flex-t bor12 p-t-15 p-b-30">
							<div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									Shipping:
								</span>
							</div>

							<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
								<% if (data && data.length > 0) { %>
									<ul>
																				
											<li>Address: <%= data[0].address %></li>
											<li>Phone: <%= data[0].phone %></li>
											<li>Pin Code: <%= data[0].pincode %></li>
											<li>City: <%= data[0].city %></li>
											<li>State: <%= data[0].state %></li>
											<br>
										
									</ul>
								<% } else { %>
									<p>No address found</p>
								<% } %>	
								
								<div class="flex-w">
									<a href="/userAddress">
									<div class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">
										Add New Address
									</div>
									</a>
								</div>
							</div>
						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208 total">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1 total">
								<span class="mtext-110 cl2" id="total">
									
								</span>
							</div>
						</div>

						<a href="/userAddress"><button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							PROCEED TO CHECKOUT
						</button></a>
					</div>
				</div>
			</div>
		</div>

	<% } else { %>
		<div class="container center">
			<h2 style="text-align: center;">Your Shopping Cart is Empty</h2>
		</div>
	<% } %>
		
	
		

	<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
                            Sneakers
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
                            Sports
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
                            Lifestyle
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
                            Running
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="/orderDetails" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/orderDetails" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns 
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/orderDetails" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    <p>This Website is made only for educational purpose and not for sales. Any questions regarding the website? Let me know on <span class="email">sahilaslam14@gmail.com</span> or contact me on <span class="phone">(+91) 85890 13533</span>.</p>
                </p>

                <style>
                    /* Styles for the span */
                    span {
                      color: #717fe0; /* Initial color */
                      transition: color 0.3s; /* Transition effect for smooth color change */
                    }
                  
                    /* Styles for the span when hovering */
                    span:hover {
                      color: white; /* Color change on hover */
                    }
                  </style>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="goforcasuals@gmail.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>

                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="/assets/images/icons/icon-pay-01.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/assets/images/icons/icon-pay-02.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/assets/images/icons/icon-pay-03.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/assets/images/icons/icon-pay-04.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/assets/images/icons/icon-pay-05.png" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Sahil</a> &amp; distributed by <a href="https://goforcasuals.shop" target="_blank">GoForCasuals</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p>
        </div>
    </div>
</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<style>
	.quantity-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
}

.quantity-input {
  width: 50px;
  padding: 6px 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
	</style>

	<style>
		.center {
  			margin: auto;
			padding-top: 15%;
  			width: 50%;
			height: 100%;
		}
	</style>

	<script>
		function confirmdelete(event) {
			event.preventDefault(); // Prevent the link from immediately navigating
		
			swal(swal("Success!", "Your Coupon has been redeemed.", "success"));
		}	
	</script>


	<script>

		// const setSubtotal = () => {
		// 	const itemTotal = document.getElementsByClassName('item-total')
		// 	let Subtotal = 0;
		// 	for(let i = 0; i < itemTotal.length; i++) {
		// 		subtotal += Number(itemTotal[i].innerHTML)
		// 	}
		// 	document.getElementById('subtotal').innerHTML = subtotal;
		// }
		// setSubtotal();

	// Setting Subtotal<!--===============================================================================================-->
		const setSubtotal=()=>{
			const itemTotal=document.getElementsByClassName('item-total')
			let subtotal=0;
			for (let i = 0; i < itemTotal.length; i++) {

				subtotal+=Number(itemTotal[i].innerHTML)
			}
			document.getElementById('subtotal').innerHTML=subtotal;
			document.getElementById('total').innerHTML=subtotal;

		}
		setSubtotal();

	// Incrementing Quantity<!--===============================================================================================-->
		function incrementQuantity(cartId) {
			$.ajax({
				url: "/incrementQuantity",
				method: "POST",
				data: { cartId: cartId },
				success: function (data) {
					if (data.success) {
						$(`#product-total-price-${cartId}`).text(data.total);
						$(`#quantity_${cartId}`).val(data?.quantity);
						setSubtotal();

						// Enable the decrement button
						$(`#decrement_${cartId}`).prop("disabled", false);
					} else if (data.success === false) {
						if (data.maxQuantity) {
							Toastify({
								text: "Stock Limit Exceeded",
								className: "info",
								style: {
								background: "red"
								},
								position: "center",
								gravity: "center"
							}).showToast();
							// Disable the increment button when maxQuantity is reached
							$(`#increment_${cartId}`).prop("disabled", true);
						}
						setSubtotal();
					} else {
						console.log('error while updating');
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
				// Handle error response here
				res.send('error');
				}
			});
		}

	// Decrementing Quantity<!--===============================================================================================-->
		function decrementQuantity(cartItemId) {
			var currentQuantity = parseInt($(`#quantity_${cartItemId}`).val());
			if (currentQuantity > 1) {
				$.ajax({
				url: "/decrementQuantity",
				method: "post",
				data: { cartItemId: cartItemId },
				success: function (data) {
					// Handle success response here
					console.log(data);
					$(`#product-total-price-${cartItemId}`).text(data.total);
					$(`#quantity_${cartItemId}`).val(data?.quantity);
					setSubtotal();

					// Enable the increment button
					$(`#increment_${cartItemId}`).prop("disabled", false);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					// Handle error response here
					res.send('error');
				}
				});
			} else {
				// Disable the decrement button when the quantity is 1
				$(`#decrement_${cartItemId}`).prop("disabled", true);
				$(`#quantity_${cartItemId}`).val(1);

				// Enable the increment button
				$(`#increment_${cartItemId}`).prop("disabled", false);
			}
		}
	</script>

	<script src="https://kit.fontawesome.com/1db845e4aa.js" crossorigin="anonymous"></script>

	<!-- Sweet alert -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>
	<!--===============================================================================================-->

	<!-- toastify -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- toastify -->

<!--===============================================================================================-->	
	<script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/assets/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/assets/js/main.js"></script>

</body>
</html>
